.rt-tbody, .ReactTable .rt-table {
    overflow: visible !important;
}
.ReactTable{
    overflow-x: auto !important;
}
.react-table-subcomponent-main .rt-tr.-odd {
    background: #fff;
}
.ReactTable .rt-tbody .rt-td{
    white-space: normal !important;
    word-wrap: break-word;
}
.ReactTable .rt-th, .ReactTable .rt-td {
    white-space: inherit;
}
.ReactTable .rt-td a:hover {
    text-decoration: underline;
}

.no-minimum-height-react-table .ReactTable{
    min-height: 100px !important;
}
.ReactTable .dropdown-menu{
    height: 0px !important;
    display: block !important;
    overflow:hidden !important;
    border: 0px solid #f00;
    box-shadow: none;
    background-color: transparent;
    padding:0px
}
.ReactTable .open>.dropdown-menu{
    height: auto !important;
    overflow:visible !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    padding:5px 0;
}
.react-table-remove-headers .-headerGroups,
.react-table-remove-headers .rt-thead,
.react-table-remove-headers .-filters{
    height: 0px !important;
    box-shadow: none;
    border: 0px;
}
.react-table-subcomponent-main .ReactTable.-striped .rt-tr.-odd{
    background: #fff !important;
}