table.Listing tr:nth-child(even) {
  background: #fafafa;
  .enquiry-details-box {  
    float: left;
    line-height: 22px;
    .enquiry-actions-box {
      width: 19%;
      float: left;
    }
     span {
      font-size: 16px;
      font-weight: 300;
      font-family: 'proxima_novaregular';
    }
    
     span.actions:last-child {
      line-height: 31px;
    }
    
     span.inspector {
      line-height: 46px;
    }
    
    .enquiry-details-box span.proposal {
      line-height: 41px;
    }
    
     span a {
      color: #FE3D6C;
      font-size: 14px;
      font-weight: 300;
    }
    .enquiry-details-box span.titleEnquiry {
      color: #0D99EF;
      font-size: 16px;
      font-weight: 300;
    }
    
     span.content {
      overflow: hidden;
      line-height: 1.2em;
      height: 3.6em;
    }
     span.content.collapsed{
      overflow: hidden;
    }
     span.content.expanded{
      overflow: visible;
      height: auto;
    }
    
    .dropEnquiry:before {
      content: "";
      display: inline-block;
      border-bottom: 10px solid #f8f8f8;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      position: absolute;
      top: -10px;
      right: 18px;
    }
    
    .dropdownEnquiry:before {
      content: "";
      display: inline-block;
      border-bottom: 10px solid #f8f8f8;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      position: absolute;
      top: -10px;
      right: 25px;
    }
    .enquiry-actions-box button {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;
      margin: 0px;
      padding: 10px;
      background-color: #1f9bed;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
    } 
    .message {
      width: 113px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-weight:300;
      color:#27292E;
      } 
  }
}