.header-wrapper {
    height: 100px;
    background: #ffffff;
    .logo {
      img {
        height: 70px;
        width: 65px;
      }
    }
    .nav-wrap {
      .btn-head {
        border-radius: 20px;
      }
      .btn-pink {
        background: deeppink;
       border: 2px solid #cc006d;
       height:38px!important
      }
      .btn-white {
        border: 2px solid blue;
        background: white;
        color: blue;
        padding: 2px 29px 0px;
        height:38px!important
       
      }
    }
}