.header-wrapper {
    box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px rgba(0,0,0,.117647)!important;
    height: 100px;
    background: #ffffff;
    .logo {
      img {
        height: 70px;
        width: 65px;
      }
    }
    .nav-wrap {
      .btn-head {
        border-radius: 20px;
      }
      .btn-pink {
        background: deeppink;
        border: 2px solid #cc006d;
      }
      .btn-white {
        border: 2px solid blue;
        background: white;
        color: blue;
      }
    }
}