.inspection-quote-wrap {
  padding: 5rem 10%;
  background: #f2f2f2;
  .title {
    span {
      font-size: 1vw;
      color: #aaa;
    }
  }

  .form-row {
    .input-group {
      border-bottom: 1px solid darkgray;
      display: flex;
      flex-wrap: nowrap !important;
      .input-group-prepend {
        flex: 1;
        .input-group-text {
          background-color: #f2f2f2;
          border: none;
          font-size: 1.5rem;
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }
      }
      .form-control {
        flex: 9;
        border: none;
        background-color: #f2f2f2;
        padding: 10px 0;
        font-size: 1.2vw;
        &:focus {
          box-shadow: none;
        }
      }

      .field-select {
        flex: 9;
        outline: none;
        // box-shadow: 0 0 1px 0 rgba(0,0,0,.35);
        .Select-control {
          border: none;
          background-color: #f2f2f2;
          font-size: 1rem;
          // padding: 16px;
          .Select-value, .Select-placeholder {
            display: flex;
            align-items: center;
            color: #495057;
            font-size: 1.2vw;
          }
          .Select-clear-zone {
            display: none;
          } 
        }
        .Select-menu-outer {
          .Select-option {
            background-color: #fff !important;
          }
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .form-wrap {
    .btn-post-enquiry {
      color: deeppink;
      border: 1px solid deeppink;
      background: white;
      border-radius: 30px;
      font-size: 1.3vw;
      padding: 10px 30px;
      margin-top: 5rem;
      width: fit-content;
    }
  }
}

.InspectionQuote{

  input:not([type]), input[type=date]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=email]:not(.browser-default), input[type=number]:not(.browser-default), input[type=password]:not(.browser-default), input[type=search]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=text]:not(.browser-default), input[type=time]:not(.browser-default), input[type=url]:not(.browser-default), textarea.materialize-textarea{
      width: auto;
      margin: 0 0 0px;
  }
  
  .form-row .input-group {
    margin-bottom: 20px;
  }
  
  }